body {
	font-family: Ubuntu, sans-serif;
}

.logo {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 15px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	left: 205px;
	top: 50px;
}

.maintxt {
	color: #8B74FD;
	position: absolute;
	left: 205px;
	top: 220px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
}

.nine {
	position: absolute;
	left: 205px;
	top: 272px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 43px;

	position: absolute;
	width: 589px;
	height: 23px;
	left: 807px;
	top: 100px;
}

.mainMenutxt {
	width: 81px;
	height: 23px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
}

.menutxt {
	width: 78px;
	height: 23px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #525252;
	flex: none;
	flex-grow: 0;
}

.katalog {
	position: absolute;
	width: 1519px;
	height: 895px;
	left: 0px;
	top: 450px;

	background: rgba(204,195,246,1);
	background: -moz-linear-gradient(-45deg, rgba(204,195,246,1) 0%, rgba(115,98,197,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(204,195,246,1)), color-stop(100%, rgba(115,98,197,1)));
	background: -webkit-linear-gradient(-45deg, rgba(204,195,246,1) 0%, rgba(115,98,197,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(204,195,246,1) 0%, rgba(115,98,197,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(204,195,246,1) 0%, rgba(115,98,197,1) 100%);
	background: linear-gradient(135deg, rgba(204,195,246,1) 0%, rgba(115,98,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc3f6', endColorstr='#7362c5', GradientType=1 );
}

.katalogtxt {
	position: absolute;
	width: 155px;
	height: 46px;
	left: 682px;
	top: 100px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 46px;

	color: #fff;
}

.physics {
	position: absolute;
	width: 300.08px;
	height: 391px;
	left: 0px;
	top: 246px;
}

.algebry {
	position: absolute;
	width: 300px;
	height: 391px;
	left: 609px;
	top: 246px;
}

.chemistry {
	position: absolute;
	width: 300px;
	height: 391px;
	left: 1219px;
	top: 246px;
}

.slider {
	position: absolute;
	width: 106px;
	height: 45px;
	left: 707px;
	top: 746px;
}

.form {
	position: absolute;
	width: 737px;
	height: 550px;
	left: 391px;
	top: 1619px;

	background: #F2EFFF;
	border-radius: 30px;
}

.fieldHelp {
	width: 597px;
	height: 95px;
	background-color: #EDEDED;
	border: 1px solid #000;
	position: absolute;
	left: 70px;
	top: 58px;
}

.help {
	position: absolute;
	width: 350px;
	height: 23px;
	left: 204px;
	top: 78px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

input {
	border: 1px solid #000000;
}

.name {
	box-sizing: border-box;

	position: absolute;
	width: 597px;
	height: 51px;
	left: 70px;
	top: 203px;
	padding-left: 20px;
}

.phone {
	box-sizing: border-box;

	position: absolute;
	width: 597px;
	height: 51px;
	left: 70px;
	top: 284px;
	padding-left: 20px;
}

.email {
	box-sizing: border-box;

	position: absolute;
	width: 597px;
	height: 51px;
	left: 70px;
	top: 365px;
	padding-left: 20px;
}

.btn {
	position: absolute;
	width: 150px;
	height: 51px;
	left: 293px;
	top: 466px;

	background: #FFC700;
	border-radius: 10px;

	color: #fff;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	border: none;
}

.footer {
	position: absolute;
	width: 1519px;
	height: 222px;
	left: 0px;
	top: 2425px;

	background: #000000;
}

.logofooter {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 205px;
	top: 61px;

	background: url(image.png);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
}

.mainFootertxt {
	position: absolute;
	width: 197px;
	height: 37px;
	left: 348px;
	top: 40px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	/* identical to box height */


	color: #8B74FD;
}

.footertxt {
	position: absolute;
	width: 155px;
	height: 28px;
	left: 348px;
	top: 87px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	/* identical to box height */


	color: #FFFFFF;
}

.up {
	position: absolute;
	width: 17px;
	height: 30px;
	left: 761px;
	top: 96px;
}

.phoneLogo {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 918px;
	top: 62px;
}

.phoneNumber {
	position: absolute;
	width: 318px;
	height: 28px;
	left: 957px;
	top: 35px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	color: #fff;
}

.emailLogo {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 922px;
	top: 142px;
}

.emailAdress {
	position: absolute;
	width: 257px;
	height: 28px;
	left: 957px;
	top: 112px;

	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	color: #fff;
}